---
import { Image } from "astro:assets";
import { getCollection, render } from 'astro:content';
import GPXMap from "../../components/GPXMap.astro";
import PostInfo from "../../components/PostInfo.astro";
import Strava from "../../components/Strava.astro";
import Base from "../../layouts/Base.astro";

export async function getStaticPaths() {
  const posts = await getCollection('backpacking');
  return posts.map(post => ({
    params: { slug: post.id }, props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<style>
  img {
    object-fit: cover;
    height: 300px;
    border-radius: 10px;
  }

  h2 {
    color: rgb(0, 14, 20);
  }

  .download-gpx {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #00304980;
  }
</style>

<Base title={post.data.title}>
  <h2>{post.data.title}</h2>
  <PostInfo showGPX=true frontmatter={post.data}/>
  
  <p class="full-bleed">
    <Image class="full-bleed shine" src={post.data.image.src} alt={post.data.image.alt} />
  </p>
  <div>
    <Content />
  </div>

  {post.data.gpx ? <GPXMap gpx={post.data.gpx} /> : undefined}
  {post.data.strava ? 
    <div class="full-bleed"><Strava  ids={post.data.strava} /></div>: undefined
  }
</Base>
