---
import { Image } from "astro:assets";
import PostInfo from "./PostInfo.astro";
const { frontmatter, url, tilt } = Astro.props;
---
<style define:vars={{ tilt }}>
  a {
    text-decoration: none;
  }
  section {
    padding: 24px 12px;
    gap: 0 48px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "preview title"
                         "preview desc"
                         "preview info";

    border-bottom: 1px solid #ddd;

    .preview {
      grid-area: preview;
      align-self: center;
    }

    img {
      height: 150px;
      max-width: 100%;
      object-fit: cover;
      border-radius: 15px;
      transform: rotate(var(--tilt, 0deg));
    }

    h3 {
      grid-area: title;
    }

    .description {
      grid-area: desc;
    }

    .tagline {
      grid-area: info;
    }
  }

  @media (max-width: 640px) {
    section {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "preview"
                          "title"
                          "desc"
                          "info";
    }
  }

</style>
<section>
  <a class=preview href={url}>
    <Image class="full-bleed shine" src={frontmatter.image.src} alt={frontmatter.image.alt}/>
  </a>
  <h3><a href={url}>{frontmatter.title}</a></h3>
  <p class="description">{frontmatter.description}</p>
  <div class="tagline">
    <PostInfo frontmatter={frontmatter}></PostInfo>
  </div>
</section>
