---

const formatter = new Intl.DateTimeFormat('en-US', {
  month: 'short',
  day: 'numeric',
  year: 'numeric'
});

const { frontmatter, showGPX } = Astro.props;
const days = Math.ceil((frontmatter.until - frontmatter.since) / (1000 * 60 * 60 * 24) + 1);
---

<style>
  section {
    margin-top: 10px;
    display: inline-flex;
    column-gap: 20px;
    align-items: center;
    stroke: #00304980;
    fill: #00304980;
    color: #00304980;
    font-size: 0.88;
    font-family: "Space Grotesk", sans-serif;
    white-space: nowrap;
    flex: none;
    flex-wrap: wrap;
  }

  svg {
    flex: none;
  }

  .icon {
    display: flex;
    flex: none;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #00304980;
  }

</style>
<section>
  <span class="subtle">{formatter.format(frontmatter.since)}</span>
  <span class="subtle">{days} days</span>
  <div class="icon" title="elevation">
    <!-- https://www.svgrepo.com/svg/489052/mountain -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
      <path d="M13 14L17 9L22 18H2.84444C2.46441 18 2.2233 17.5928 2.40603 17.2596L10.0509 3.31896C10.2429 2.96885 10.7476 2.97394 10.9325 3.32786L15.122 11.3476" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    {frontmatter.elevation}m
  </div>
  <div class="icon" title="distance">
    <!-- https://www.svgrepo.com/svg/447602/distance -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 64 64" stroke-width="3" fill="none"><path d="M17.94,54.81a.1.1,0,0,1-.14,0c-1-1.11-11.69-13.23-11.69-21.26,0-9.94,6.5-12.24,11.76-12.24,4.84,0,11.06,2.6,11.06,12.24C28.93,41.84,18.87,53.72,17.94,54.81Z"/><circle cx="17.52" cy="31.38" r="4.75"/><path d="M49.58,34.77a.11.11,0,0,1-.15,0c-.87-1-9.19-10.45-9.19-16.74,0-7.84,5.12-9.65,9.27-9.65,3.81,0,8.71,2,8.71,9.65C58.22,24.52,50.4,33.81,49.58,34.77Z"/><circle cx="49.23" cy="17.32" r="3.75"/><path d="M17.87,54.89a28.73,28.73,0,0,0,3.9.89"/><path d="M24.68,56.07c2.79.12,5.85-.28,7.9-2.08,5.8-5.09,2.89-11.25,6.75-14.71a16.72,16.72,0,0,1,4.93-3" stroke-dasharray="7.8 2.92"/><path d="M45.63,35.8a23,23,0,0,1,3.88-.95"/></svg>
    {frontmatter.distance}km
  </div>
  {frontmatter.gpx && showGPX ? (
    <a href={frontmatter.gpx} download={frontmatter.gpx.split('/').pop()} class="icon" title="gpx track">
      <!-- https://www.svgrepo.com/svg/399438/gpx-file -->
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 100 100" aria-hidden="true" role="img" class="iconify iconify--gis" preserveAspectRatio="xMidYMid meet"><path d="M13.996 0a2.5 2.5 0 0 0-2.5 2.5V70H0v22h11.496v5.5a2.5 2.5 0 0 0 2.5 2.5h72a2.5 2.5 0 0 0 2.5-2.5V21.625c.027-1.113.004-1.777-.732-2.59L69.46.732A2.5 2.5 0 0 0 67.662 0H13.996zm2.5 5h48.902l1.252 14.568a2.5 2.5 0 0 0 2.278 2.278l14.568 1.252V95h-67v-3H80V70H16.496V5zm3.98 68c2.37 0 4.22.38 5.547 1.139c1.337.752 2.195 1.792 2.577 3.125l-3.827.545c-.269-.713-.777-1.273-1.523-1.682c-.738-.416-1.663-.623-2.773-.623c-1.684 0-3.024.405-4.022 1.217c-.99.811-1.484 2.015-1.484 3.611c0 1.722.503 3.015 1.51 3.879c1.006.857 2.325 1.285 3.956 1.285c.808 0 1.615-.118 2.422-.355c.816-.244 1.515-.538 2.096-.881v-1.84h-4.412v-2.443h8.305v5.777c-.807.594-1.98 1.119-3.516 1.574a16.406 16.406 0 0 1-4.646.672c-1.997 0-3.737-.316-5.221-.95c-1.484-.64-2.6-1.55-3.346-2.732A7.127 7.127 0 0 1 11 80.451c0-1.51.417-2.853 1.25-4.027s2.053-2.075 3.658-2.701c1.224-.482 2.746-.723 4.569-.723zm11.913.248h6.183c2.343 0 3.87.072 4.582.217c1.094.218 2.009.693 2.746 1.426c.738.725 1.108 1.664 1.108 2.818c0 .89-.214 1.64-.639 2.246a4.575 4.575 0 0 1-1.627 1.436c-.65.343-1.315.57-1.992.681c-.92.139-2.252.21-3.996.21h-2.512v5.47H32.39V73.248zm16.48 0h4.504l3.826 4.66l3.75-4.66h4.465l-5.935 7.045L66 87.752h-4.646l-4.233-5.016l-4.242 5.016h-4.623l6.523-7.568l-5.91-6.936zm-12.627 2.453v4.115h2.108c1.518 0 2.534-.074 3.046-.226c.513-.152.911-.39 1.198-.713a1.62 1.62 0 0 0 .443-1.127c0-.528-.203-.964-.611-1.307c-.408-.343-.926-.556-1.551-.642c-.46-.066-1.383-.1-2.771-.1h-1.862z"/><path d="M70.771 9.115l8.61 8.61l-7.928-.682z"/><path d="M31.107 14.432c-4.23 0-7.694 3.455-7.694 7.672c0 1.634.521 3.153 1.405 4.401l5.35 9.249c.75.979 1.248.793 1.87-.052L37.94 25.66c.119-.216.212-.446.294-.68c.364-.89.567-1.86.567-2.876c0-4.217-3.465-7.672-7.694-7.672zm0 3.595a4.059 4.059 0 0 1 4.088 4.077a4.058 4.058 0 0 1-4.088 4.077a4.059 4.059 0 0 1-4.089-4.077a4.06 4.06 0 0 1 4.09-4.077z"/><path d="M24.473 50.66c-1.522 3.044-.752 6.755 2.27 8.47c3.02 1.713 6.483.694 8.467-2.27c1.14-1.974 1.047-4.328-.022-6.18L45.6 42.223c2.731 1.044 5.912.02 7.485-2.524l10.867 2.277c.208 1.903 1.277 3.691 3.048 4.714c2.947 1.701 6.767.677 8.468-2.27c1.643-2.845.728-6.485-1.988-8.266a1.729 1.729 0 0 0-.596-.344c-2.9-1.462-6.51-.435-8.153 2.41c-.066.115-.121.232-.179.349l-10.554-2.212a6.232 6.232 0 0 0-2.799-5.081a1.73 1.73 0 0 0-.596-.344c-2.9-1.462-6.51-.435-8.153 2.41c-1.26 2.182-1.023 4.84.379 6.764L32.7 48.277a1.726 1.726 0 0 0-.074-.028c-2.9-1.461-6.684-.528-8.153 2.411zm2.994 1.729a2.716 2.716 0 0 1 3.745-1.003a2.715 2.715 0 0 1 1.004 3.745a2.716 2.716 0 0 1-3.745 1.004a2.716 2.716 0 0 1-1.004-3.746zm17.977-17.317a2.716 2.716 0 0 1 3.745-1.003a2.715 2.715 0 0 1 1.004 3.745a2.716 2.716 0 0 1-3.745 1.004a2.716 2.716 0 0 1-1.004-3.746zm22.281 4.879a2.716 2.716 0 0 1 3.745-1.003a2.715 2.715 0 0 1 1.004 3.744a2.716 2.716 0 0 1-3.745 1.004a2.716 2.716 0 0 1-1.004-3.745z"/></svg>
      Download GPX
    </a>
  ) : undefined}  
</section>
