---
import { Image } from "astro:assets";
import GPXMap from "../components/GPXMap.astro";
import PostInfo from "../components/PostInfo.astro";
import Strava from "../components/Strava.astro";
import Tags from "../components/Tags.astro";
import BlogLayout from "./BlogLayout.astro";

const { frontmatter } = Astro.props;

---
<style>
  img {
    object-fit: cover;
    height: 300px;
    border-radius: 10px;
    margin: 0 40px;
  }

  h2 {
    color: rgb(0, 14, 20);
  }
</style>

<BlogLayout title={frontmatter.title}>
  <h2>{frontmatter.title}</h2>
  <PostInfo frontmatter={frontmatter}/>
  
  <p class="full-bleed">
    <Image class="full-bleed shine" src={frontmatter.image.src} alt={frontmatter.image.alt} />
  </p>
  <slot />

  {frontmatter.gpx ? <GPXMap gpx={frontmatter.gpx} /> : undefined}
  {frontmatter.strava ? 
    <div class="full-bleed"><Strava  ids={frontmatter.strava} /></div>: undefined
  }

  <Tags tags={frontmatter.tags}/>
</BlogLayout>
